<div class="container">
    <h1>Baseline Buddy – Angular UI</h1>
  
    <textarea [value]="code()"
    (input)="code.set(($event.target as HTMLTextAreaElement).value)"
     rows="10" 
     cols="60" 
     placeholder="Paste your code here"
     ></textarea>
    <br />
    <label for="type">Select type:</label>
    <select id="type"
    [value]="type()"
    (change)="type.set($any($event.target).value)">
      <option value="css">CSS</option>
      <option value="js">JavaScript</option>
      <option value="html">HTML</option>
    </select>
  
    <button (click)="analyze()">Analyze</button>
  
    <ul>
      @for (r of results(); track $index) {
        <li>
          {{ r.message }}
          <a [href]="r.mdn" target="_blank">Docs</a>
        </li>
      }
    </ul>

    <ng-template #noResults>
        <p>No issues detected yet.</p>
    </ng-template>
  </div>
 <router-outlet></router-outlet>
  
  
